@import "tailwindcss";

@theme {
  --color-primary: #4880ee;
  --color-red: #e84118;
  --color-gray: #dadada;
  --color-white: #ffffff;
  --color-black: #222222;
  --color-lightgray: #f2f4f6;
  --color-textPrimary: #353c49;
  --color-textSecondary: #6d7582;
  --color-textSubtitle: #8d94a0;
  --color-textTitle: #1a1e27;

  --text-title1: 24px;
  --text-title2: 22px;
  --text-title3: 18px;
  --text-body1: 20px;
  --text-body2: 14px;
  --text-caption: 16px;
  --text-small: 12px;

  --font-display: "Noto Sans KR", sans-serif;
}
